<h2>Записаться</h2>
<form action="/visit" method="POST" role="form">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите ваше имя" value ="<%= @username %>">
  </div>
  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите телефон" value ="<%= @phone %>">
  </div>
  <div class="form-group">
    <label>Когда вас ждать</label>
    <input name="dateandtime" type="text" class="form-control" placeholder="Введите дату и время" value ="<%= @dateandtime %>">
  </div>
	<select name="barber" class="form-control form-control-sm">
		<option selected>Выберите парикмахера</option>
	  <option <%= @barber == "Raz" ? "selected" : "" %>>Raz</option>
	  <option <%= @barber == "Dva" ? "selected" : "" %>>Dva</option>
	  <option <%= @barber == "Tri" ? "selected" : "" %>>Tri</option>
	</select>
	<br>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>